<!-- @@kk: remove all inline styles, and manage styles from CSS -->
<% content_for :head do %>
    <%= javascript_include_tag :notes %>
<% end %>

<div class="container">
  <!-- @@kk: put link to product_instance.index -->
  <%= link_to t(:products), ProductInstance %> - <%= link_to t(:notes), Note %>
  <ol class="breadcrumb" style="margin-top: 20px; width: 97.5%;">
    <li><span class="glyphicon glyphicon-home"> </span></li>
    <li><%= link_to t(:notes), Note %></li>
  </ol>


  <%
     @product_instance_id = params[:product_instance_id]
  %>
  <%= render "notes/show_notes", :partial => true %>
</div>