<!-- define styles for the vertical tabs -->
<style>
    .ui-tabs-vertical {
        width: 55em;
    }

    .ui-tabs-vertical .ui-tabs-nav {
        padding: .2em .1em .2em .2em;
        float: left;
        width: 12em;
    }

    .ui-tabs-vertical .ui-tabs-nav li {
        clear: left;
        width: 100%;
        border-bottom-width: 1px !important;
        border-right-width: 0 !important;
        margin: 0 -1px .2em 0;
    }

    .ui-tabs-vertical .ui-tabs-nav li a {
        display: block;
    }

    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
        padding-bottom: 0;
        padding-right: .1em;
        border-right-width: 1px;
        border-right-width: 1px;
    }

    .ui-tabs-vertical .ui-tabs-panel {
        padding: 1em;
        float: right;
        width: 39em;
    }

    p {
        color: black
    }

    h2 {
        padding-top: 0px;
        margin-top: 0px;
        text-align: left
    }

</style>

<script>
    $(function () {
        $("#binder").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
        $("#binder li").removeClass("ui-corner-top").addClass("ui-corner-left");
        $("#tabs").tabs({collapsible: true});
    });
</script>


<!-- bread crumb of pages -->
<nav class="navbar navbar-inverse" style="background-color: #999999" role="navigation">
  <div class="container">
    <div class="well" style="width: 97.5%;margin-top: 20px;">
      <div class="media">
        <a class="pull-left" href=<%= current_user.client.attachments.first.upload.url %>>
          <img class="media-object" src=<%= current_user.client.attachments.first.upload.url %>, style="height: 64px;width: 64px;">
        </a>

        <div class="media-body">
          <h4 class="media-heading" style="padding-left: 0px;"><b><%= current_user.client.client_name %></b></h4> <br/>
          <span style="margin-top: -15px !important;float: left;"><%= current_user.client.address.full_address %></span><br/>
          <%= link_to t(:view_edit_company_profile), edit_client_path(current_user.client), :class => "btn btn-success pull-right", :style => "width:230px" %>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div>
    <ol class="breadcrumb" style="margin-top: 20px; width: 97.5%;">
      <li><span class="glyphicon glyphicon-home"> </span></li>
      <li><%= link_to t(:products), ProductInstance %></li>
      <li><%= link_to @product_instance.get_title(current_language_id), @product_instance %></li>
      <li><%= link_to raw(@component.get_title(current_language_id)), (component_path @component, :product_instance_id => @product_instance.id) %></li>
    </ol>
  </div>

  <div class="panel panel-default" style="width: 97.5%">
    <div class="panel-heading">
      <strong><%= raw(@component.get_title(current_language_id)) %></strong>
      <strong class="pull-right"><%= raw(@product_instance.get_title(current_language_id)) %></strong>
    </div>
    <div class="panel-body">
      <div align="left" style="background-color: grey;">
        <% mycomponents = @component.get_components() %>
        <% if mycomponents.size == 0 %>
            <h2 style="background-color: white;"><Br><%= t(:empty) %></h2>
        <% elsif @component.component_type.view_handler == "box" %>
            <%= render partial: "components/box_view_handler", locals: {box_items: mycomponents} %>
        <% elsif @component.component_type.view_handler == "binder" %>
            <%= render partial: "components/binder_view_handler", locals: {box_items: mycomponents, current_component: @component, current_product_instance: @product_instance} %>
        <% end %>
      </div>
    </div>
  </div>

  <br/><br/>
  <%
     @notes_container = []
     @notes_container.push @component

     @product_instance_id = @product_instance.id
  %>

  <%= render "notes/show_notes", :partial => true %>

  <!-- if user has the talott role then display the following -->
  <%= render partial: "layouts/upload_dialog" %>
<%#= render "components/new_component", :partial => true %>

  <br/>
</div>

