<style type="text/css">
    #recaptcha_table {
        width: 538px;
    }

    .input-group {
        width: 538px;
    }
</style>

<div class="container">
  <div class="left_right_padded_div" style="min-height: 500px;">
    <label class="white_header_label"><%= (t(:forget_password)) %></label>
    <hr style="width: 100%; margin-left: 0px;">
    <br/>

    <div class="panel panel-default">
      <div class="panel-heading"><%= t('did_you_forgot_your_password') %></div>
      <div class="panel-body">
        <p class="registration_inner_div" style="color: black">
          <%= t(:please_enter_email_address) %>
          <% if @user.present? and @user.errors.any? %>
            <div class="alert alert-error" id="error_div">
              <div class="alert alert-error">
                <b style="font-size: 16px;"><%= pluralize(@user.errors.count, "error") %> prohibited this post
                  from being saved:</b>

                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
        <% end %>
        <div style="padding-left: 10px;padding-right: 10px">
          <%= form_tag password_resets_path, :method => :post do %>
              <div class="input-group">
                <%= text_field_tag :email, params[:email], class: "form-control", placeholder: t('email_address'), style: "width: 500px;" %>
                <br/>
                <span class="input-group-addon">@</span>
              </div>
              <%= recaptcha_tags(display: {theme: 'clean'}) %>
              <br/>
              <%= submit_tag "Submit", class: "btn btn-success pull-right", :style => "padding-left:20px;padding-right:20px; margin-right: 462px;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
