<p style="color: black; padding: 4px;">
  <%= raw(t(:welcome_to_the_application_paragraph)) %>
</p>
<br/>

<div class="registration_inner_div">
  <%= form_for(@user, :url => {:controller => "product_instances", :action => 'create_user'}, :remote => true) do |f| %>
      <%= hidden_field_tag :product_key, @product_key %>
      <div id="user_errors">

      </div>

      <%= f.hidden_field :product_instance_id, value: @product_instance.id %>

      <span style="margin-bottom: 5px;"><%= t(:language) %></span><br/>

      <div class="input-group">
        <%= f.select("locale", options_from_collection_for_select(Language.supported_languages, "locale", "language_description"), {}, :class => "widest_width form-control") %>
        <br/>
      </div>


      <span style="margin-bottom: 5px;"><%= t(:name) %></span><br/>

      <div class="input-group">
        <%= f.text_field :name, :class => "widest_width form-control", placeholder: t('name') %>
        <br/>
      </div>

      <span style="margin-bottom: 5px;"><%= t(:email) %></span><br/>

      <div class="input-group">
        <span class="input-group-addon input-group-addon-black"><span class="glyphicon glyphicon-envelope"> </span></span>
        <%= f.text_field :email, :class => "widest_width form-control", style: "width: 460px !important;", placehoder: t('email') %>
        <br/>
      </div>

      <span style="margin-bottom: 5px;"><%= t(:confirm_email) %></span><br/>

      <div class="input-group">
        <span class="input-group-addon input-group-addon-black"><span class="glyphicon glyphicon-envelope"> </span></span>
        <%= f.text_field :email_confirmation, :class => "widest_width form-control", style: "width: 460px !important;", placeholder: t('confirm_email') %>
        <br/>
      </div>

      <span style="margin-bottom: 5px;"><%= t(:password) %></span><br/>

      <div class="input-group">
        <%= f.password_field :password, :class => "widest_width form-control", placeholder: t('password') %>
        <br/>
      </div>

      <span style="margin-bottom: 5px;"><%= t(:confirm_password) %></span><br/>

      <div class="input-group">
        <%= f.password_field :password_confirmation, :class => "widest_width form-control", placehoder: t('confirm_password') %>
        <br/>
      </div>

      <%= f.hidden_field :client_id, :value => @client.id %>

      <b><u><%= t(:user_address) %></u></b><br/>

      <%= render partial: "address/address_form", locals: {my_form: f, address_object: @address, address_for: :address} %>
      <%= image_tag "product_key_image_card.png" %>
      <div class="clearfix"></div>
      <br/>

      <span style="margin-bottom: 5px;"><%= t(:product_registration_key) %></span><br/>

      <div class="input-group">
        <%= text_field_tag :product_key, @product_key, :class => "widest_width form-control", :disabled => 'true' %>
        <br/>
      </div>
      <br/>
      <%= image_tag("loading-green.gif", :class => "loader pull-right", :style => "margin-right: 138px;display: none;") %>
      <%= button_tag t(:next), {id: "user_registration_button", class: "btn btn-success pull-right user_registration_button click_button", style: "margin-right: 138px;"} %>
  <% end %>
</div>
<br/>

