<%= javascript_include_tag "simpleexpand.js" %>
<script type="text/javascript">
    $(document).ready(function () {
        $('.expander').simpleexpand();
        $('.pagination ul').addClass('pagination')
    });
</script>

<div class="container">
  <ol class="breadcrumb" style="margin-top: 20px; width: 97.5%;">
    <li><span class="glyphicon glyphicon-home"> </span></li>
    <li><%= link_to t('home'), product_instances_path %></li>
  </ol>

  <% @product_instances.each do |product| %>
      <%
         pending_user_str = ""
         pending_user_arr = product.get_pending_user_approvals
         pending_user_tip = t(:manage_access)

         if pending_user_arr.size > 0
           pending_user_tip = t(:user_pending_approvals, :users => pending_user_arr.size.to_s)
           pending_user_str = " (" + pending_user_arr.size.to_s + ")"

         end

         notes_text = t(:review_notes)
         notes_tip = t(:no_new_notes)
         if product.notes.size > 0
           notes_text += " (" + product.notes.size.to_s + ")"
           notes_tip = product.notes.size.to_s + " " + t(:notes_to_review)
         end
         notify_tip = t(:notify_tip)

      %>
      <div class="panel panel-default" style="width: 97.5%;float: left">
        <div class="panel-heading">
          <h3 class="panel-title" style="padding-left: 0px;"><%= product.get_title (current_language_id) %>
            <span class="pull-right"><%= raw product.product_type.get_title(current_language_id) %></span>
          </h3>
        </div>
        <div class="panel-body">
          <div class="media" style="width: 60%; float: left;">
            <a class="pull-left" href="#">
              <%= image_tag(product.product_type.icon_url, :size => "150x150") %>
            </a>

            <div class="media-body">
              <h5 class="media-heading no-padding-margin-left"><%= t(:responsibile_person) %></h5>
              <span style="margin-left: 10px;"><%= "#{product.signator_first_name} #{product.signator_last_name}" %></span>&nbsp; &nbsp;
              <a data-expander-target=".content" class="expander" href="#" style="color: #2A6496;">[Expand]</a> &nbsp; &nbsp; <%= link_to "[#{t(:resend_reg_email)}]", "#", :title => notify_tip, style: "color: #2A6496;asa" %>
              <br/><br/>

              <div class="content" style="margin-left: 10px;margin-top: 10px;">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <strong style="font-size: 18px;" class="glyphicon glyphicon-envelope"></strong>&nbsp; &nbsp;<strong style="font-size: 15px; color: #2A6496;"><%= product.signator_email_address %></strong>
                    <br/>
                    <strong style="font-size: 18px;" class="glyphicon glyphicon-phone"></strong>&nbsp; &nbsp;<strong style="font-size: 15px; color: #2A6496;"><%= product.signator_telephone_number %></strong>
                    <br/>
                  </div>
                </div>

              </div>

              <h5 class="media-heading no-padding-margin-left" style="margin-top: 20px;"><%= t(:product_administrators) %></h5>
              <% product.get_administrators.each do |admin| %>
                  <span style="margin-left: 10px;"><%= admin.name %></span>&nbsp; &nbsp;
                  <a data-expander-target=<%= ".content_#{admin.name}" %> class="expander" href="#" style="color:
                  #2A6496;">[Expand]</a> <br/>

                  <div class=<%= "content_#{admin.name}" %> style="margin-left: 10px;margin-top: 20px;">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <strong style="font-size: 18px;" class="glyphicon glyphicon-envelope"></strong>&nbsp; &nbsp;<strong style="font-size: 15px; color: #2A6496;"><%= admin.email %></strong>
                      <br/>
                    </div>
                  </div>

                  </div>
              <% end %>
              </div>
        </div>
        <div class="panel-default" style="width: 40%; float: right;">
          <div class="panel-body">
            <!-- if user has access crud access -->
            <% if current_user.has_crud_access(product) %>
                <%= link_to t(:open_load), product_type_product_instance_path(product.product_type_id, product), :class => "btn btn-success pull-right", :style => "width:175px" %>
                <br/><br/>
            <% else %>
                <%= link_to t(:request_access), current_user_request_access_path(:user_id => current_user.id, :product_instance_id => product.id), :class => "btn btn-success pull-right", :style => "width:175px" %>
                <br/><br/>
            <% end %>

            <!-- if user has admin access -->
            <% if current_user.is_administrator(product) %>
                <%= link_to t(:manage_access) + pending_user_str, manage_access_path(id: product.id), :class => "btn btn-success pull-right", :style => "width:175px", :title => pending_user_tip %>
                <br/><br/>
                <%= link_to t(:edit_details), edit_product_instance_path(product), :class => "btn btn-success pull-right", :style => "width:175px" %>
                <br/><br/>
            <% end %>

            <!-- if user has crud access -->
            <% if current_user.has_crud_access(product) %>
                <%= link_to notes_text, notes_path(:product_instance_id => product.id.to_s), :class => "btn btn-success pull-right", :style => "width:175px", :title => notes_tip %>
                <br/><br/>
            <% end %>
          </div>
        </div>
      </div>
      </div>

  <% end %>
  <div class="paginator pull-right" style="margin-right:30px; margin-top: -10px;">
    <%= will_paginate @product_instances, :inner_window => 2, :outer_window => 2 %>
  </div>
  <br/>
  </div>
  <%= render "users/user_options_toolbar", :partial => true %>



