<%= javascript_include_tag 'jquery-fileupload' %>
<!-- file upload dialogbox -->
<div id="upload_dialog" title="<%= t(:attach_files) %>">
  <div id="file_upload_container">

    <%= s3_uploader_form id: "s3-uploader" do |f| %>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
          <div class="span7">
            <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                          <i class="icon-plus icon-white"></i>
                          <span><%= t(:attach_files) %></span>
                          <%= hidden_field_tag "Content-type", "" %>
                          <%= file_field_tag :file, multiple: true %>
                        </span>
            <button type="submit" class="btn btn-primary start">
              <i class="icon-upload icon-white"></i>
              <span><%= t(:start) %></span>
            </button>
            <button type="reset" class="btn btn-warning cancel" onclick="upload_dialog_close();">
              <i class="icon-ban-circle icon-white"></i>
              <span><%= t(:cancel) %></span>
            </button>
          </div>
          <div class="span5">
            <!-- The global progress bar -->
            <div class="progress progress-success progress-striped active" role="progressbar">
              <div id="global_progress" class="bar" style="width:0%;background-color: #248F24;display: block; float: left">&nbsp;&nbsp;</div>
            </div>
          </div>
        </div>
        <!-- The loading indicator is shown during image processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped">
          <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
        </table>
    <% end %>

  </div>
</div>


<script>
    var fileUploadErrors = {
        maxFileSize: 'File is too big',
        minFileSize: 'File is too small',
        acceptFileTypes: 'Filetype not allowed',
        maxNumberOfFiles: 'Max number of files exceeded',
        uploadedBytes: 'Uploaded bytes exceed file size',
        emptyResult: 'Empty file upload result'
    };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span>
      {%=locale.fileupload.errors[file.error] || file.error%}
    </td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active" role="progressbar">
        <div class="bar" style="width:0%;background-color: #248F24; display: block; float: left;">&nbsp;&nbsp;</div>
      </div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}
    </td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}
    </td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade">
    {% if (file.error) { %}
    <td></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span>
      {%=locale.fileupload.errors[file.error] || file.error%}
    </td>
    {% } else { %}
    <td class="preview">{% if (file.thumbnail_url) { %}
      <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img
      src="{%=file.thumbnail_url%}"></a>
      {% } %}
    </td>
    <td class="name">
      <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">
        {%=file.name%}</a>
    </td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td colspan="2"></td>
    {% } %}
    <td class="delete">
      <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
        <i class="icon-trash icon-white"></i>
        <span>{%=locale.fileupload.destroy%}</span>
      </button>
      <input type="checkbox" name="delete" value="1">
    </td>
  </tr>
  {% } %}
</script>


<script type="text/javascript" charset="utf-8">
    // Load existing files:
    function uploaderReady() {
        // // Initialize the jQuery File Upload widget:
        $('#upload_dialog').fileupload({
            //forceIframeTransport: true,    // DO NOT SET: https://github.com/blueimp/jQuery-File-Upload/issues/1803
            autoUpload: false,
            dataType: 'xml',  // S3 returns xml, so expect xml in return
            paramName: "file",
            singleFileUploads: true,
            limitMultiFileUploads: 20,
            sequentialUploads: false,
            multipart: true,
            previewSourceFileTypes: /^image\/(gif|jpeg|png)$/,
            uploadTemplateId: 'template-upload',
            downloadTemplateId: 'template-download'
        });

        $('#upload_dialog').bind('fileuploaddone', function (e, data) {
            var response = data.jqXHR.responseText;
            var xml = response;
            var location = $.parseXML(xml);
            xml = $(location);
            var url = xml.find("Location");

            data.result = {'files': [
                {
                    'name': "Successfully Uploaded",//response.find('name').text(),
                    'size': "SIZE"//response.find('size').text(),
                    //'type': response.find('type').text(),
                    //'url': url.text(),
                    //'thumbnail_url': url.text()
                }
            ]}
        });

        $('#upload_dialog').bind('fileuploadstop', function (e) {
            window.location.replace(window.location.href);
        });

        $('#upload_dialog').bind('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#global_progress').css(
                    'width',
                    progress + '%'
            );
        });
    }
    $(document).ready(uploaderReady);
    $(document).on('page:load', uploaderReady);
    $(function () {
        // Initialize the jQuery File Upload widget:
        uploaderReady();
    });

</script>







